// application
.v-application {

  background: $white !important;
  font: 300 #{$base-font-size}/#{$base-line-height} $base-font-family;
  font-weight: 300;

  .container {
    max-width: 1200px;
  }

  .responsiveMenu {
    a {
      color: $black;
    }
  }

  .mr-10{
    margin-right: $btn-margin-10 !important;
  }
  .ml-10{
    margin-left: $btn-margin-10 !important;
  }

  .mdi-instagram:not(.footer) {
    background: radial-gradient(
      circle at 30% 107%,
      #fdf497 0%,
      #fdf497 5%,
      #fd5949 45%,
      #d6249f 60%,
      #285aeb 90%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .mdi-whatsapp:not(.footer) {
    background: rgb(0, 182, 91);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color:transparent;
    /*-webkit-text-stroke: 1px;
    -webkit-text-stroke-color: white;*/
  }

}

// block
.block {
  padding: 2rem 0;

  @media only screen and (max-width: 599px) {
    padding: 20px 0;
  }

  h2 {
    font-family: "Paper-Flowers";
    font-size: 40px;
    padding: 0 0 10px;
    margin: 0 0 40px;
    position: relative;

    @media only screen and (max-width: 599px) {
      font-size: 24px;
      padding: 0 0 5px;
      margin: 0 0 25px;
    }

    &:after {
      content: '';
      background: $black;
      width: 120px;
      height: 1px;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);

      @media only screen and (max-width: 599px) {
        width: 30px;
      }
    }
  }
}

// iframe
iframe {
  border: 0;

  @media only screen and (max-width: 599px) {
    height: 300px;
  }
}

// static hero
.staticHero {
  @media only screen and (max-width: 767px) {
    height: 130px;
  }

  .v-image {
    @media only screen and (max-width: 767px) {
      height: 100%;
    }
  }

  .headline {
    @media only screen and (max-width: 767px) {
      font-size: 20px !important;
    }
  }
}

// not found
.notFound .fas {
  font-size: 40px;
  margin: 0 0 40px;
}