header {
  .v-toolbar__title {
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: .2rem;
    font-size: 2.5rem;
  }

  .v-toolbar__content {
    @media only screen and (max-width: 599px) {
      padding: 0;
    }
  }
}

.mainHeader {
  .v-toolbar__items {
    .v-btn__content {
      a {
        color: $black;
      }
    }

    .v-btn {
      @media only screen and (max-width: 599px) {
        padding: 0 0 0 10px;
      }
    }
  }
}